@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-lig-webfont.eot');
  src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-lig-webfont.woff') format('woff'), url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'), url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-reg-webfont.eot');
  src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-reg-webfont.woff') format('woff'), url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'), url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bol-webfont.eot');
  src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bol-webfont.woff') format('woff'), url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.wf-active body,
.wf-active input,
.wf-active select,
.wf-active textarea {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
body ::selection {
  background: #cccccc;
  /* Safari */
  color: #ffffff;
}
body ::-moz-selection {
  background: #cccccc;
  /* Firefox */
  color: #ffffff;
}
body h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 80px;
}
body table {
  margin: 0px auto 60px auto;
}
body table .colon {
  font-size: 56px;
  font-weight: 300;
  color: #cccccc;
  padding: 20px;
}
body table input[type='text'] {
  padding: 20px 45px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  line-height: 52px;
  width: 150px;
}
body table input[type='text']:focus {
  outline: none;
}
body table .caption {
  color: #cccccc;
}
body button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 12px;
  margin-right: 12px;
  transition: opacity 0.5s;
}
body button:focus {
  outline: none;
}
body button:disabled {
  opacity: 0.3;
}
body button:last-child {
  margin-right: 0px;
}
body button img.icon {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}
body label {
  font-size: 16px;
  font-weight: 400;
  margin-left: 6px;
}
body input[disabled] + label {
  color: #cccccc;
}
body p.copyright {
  margin-top: 100px;
  font-size: 14px;
  color: #cccccc;
}
body .space {
  height: 5px;
}
body input.edit-time {
  width: 70px;
}
