@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-lig-webfont.eot');
  src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-lig-webfont.woff') format('woff'), url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'), url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-reg-webfont.eot');
  src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-reg-webfont.woff') format('woff'), url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'), url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bol-webfont.eot');
  src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bol-webfont.woff') format('woff'), url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
  font-weight: 700;
  font-style: normal;
}
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
.wf-active body,
.wf-active input,
.wf-active select,
.wf-active textarea {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
body {
  background-color: #f1f1f1;
}
body ::selection {
  background: #cccccc;
  /* Safari */
  color: #ffffff;
}
body ::-moz-selection {
  background: #cccccc;
  /* Firefox */
  color: #ffffff;
}
body .container {
  max-width: 870px;
}
body main {
  margin: 200px 0;
  background-color: #ffffff;
  padding: 70px;
}
body main img#logo {
  max-width: 89px;
}
body main #right {
  border-left: 2px solid #f6f0e2;
  padding-left: 70px;
}
body main #times {
  margin: 0px auto 50px auto;
}
body main #times > div {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body main #times > div input[type='text'] {
  padding: 25px 0px;
  border: none;
  background-color: #63514f;
  color: #ffffff;
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  line-height: 52px;
  width: 100%;
  transition: background-color 0.5s;
  border-right: 2px solid #554544;
}
body main #times > div input[type='text']:focus {
  outline: none;
  background-color: #fd604d;
}
body main #times > div .caption {
  color: #63514f;
  background-color: #f6f0e2;
  padding: 10px 0px;
  border-right: 2px solid #f0e6cf;
}
body main #times > div:last-child input[type='text'] {
  border-right: none;
}
body main #times > div:last-child .caption {
  border-right: none;
}
body main .buttons .btn {
  width: 100%;
}
body main .row {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 20px;
}
body main .row > div {
  padding: 0px 5px;
}
body main button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 12px;
  margin-right: 12px;
}
body main button.btn {
  transition: background-color 0.5s;
  outline: none;
}
body main button.btn-primary {
  background-color: #fd604d;
  border: 0px;
}
body main button.btn-primary:hover,
body main button.btn-primary:focus,
body main button.btn-primary:active {
  background-color: #f13c26;
  box-shadow: none;
  outline: none !important;
}
body main button.btn-primary:disabled {
  background-color: rgba(253, 96, 77, 0.8);
}
body main button.btn-default {
  background-color: #f6f0e2;
  color: #63514f;
  border: none;
}
body main button.btn-default:hover,
body main button.btn-default:focus,
body main button.btn-default:active {
  background-color: #faf6ee;
  box-shadow: none;
  outline: none !important;
}
body main button.btn-default:disabled {
  background-color: rgba(246, 240, 226, 0.5);
}
body main button:focus {
  outline: none;
}
body main label {
  font-size: 16px;
  font-weight: 400;
  margin-left: 6px;
}
body main input[disabled] + label {
  color: #cccccc;
}
body main p.copyright {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #cccccc;
}
body main .space {
  height: 5px;
}
body main input.edit-time {
  width: 70px;
}
